[Unit]
Description=dde-service-manager
After=dbus.service

[Service]
Type=dbus
BusName=com.deepin.dde.ServicManager
ExecStart=/usr/bin/dde-service-manager --session
StandardOutput=syslog
Restart=always
RestartSec=1

[Install]
WantedBy=graphical-session.target
