[Unit]
Description=deepin-service-manager
After=dbus.service

[Service]
ExecStart=/usr/bin/deepin-service-manager -c %i
StandardOutput=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
