Source: dde-service-manager
Section: admin
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends:  debhelper (>= 11),
 pkg-config,
 cmake,
 libgtest-dev,
 libkf5wayland-dev
Standards-Version: 4.1.3
Homepage: https://github.com/linuxdeepin/dde-plugin-loader

Package: dde-service-manager
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libkf5waylandclient5 (>=4:5.57.0.9)
Description: deepin desktop-environment - service manager frame
 Load system plug-ins for unified management
